<footer class="page-footer font-small bg-light pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-dark">Minhas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="#" class="icoGithub" title="Github"
              ><fa-icon [icon]="faGithub"></fa-icon
            ></a>
          </li>
          <li>
            <a href="#" class="icoTwitter" title="Twitter"
              ><fa-icon [icon]="faTwitter"></fa-icon
            ></a>
          </li>
          <li>
            <a href="#" class="icoLinkedin" title="Linkedin"
              ><fa-icon [icon]="faLinkedin"></fa-icon
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-light text-center py-3" style="box-shadow: 11px 10px 15px 12px rgba(0,0,0,0.1);">
    <span class="text-dark">&copy; 2023 Copyright </span>
    <a href="#" class="text-dark">CineHunter.io</a>
  </div>
</footer>
