<div class="container mb-5 mt-5">
  <h1 class="mb-5">Filmes do Guillermo Del Toro:</h1>
  <div class="media">
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/star/2B2554831C8E21428FCB4C9CB16230456FC646586B02726BB756BB852CAE56AC/scale?width=1200&aspectRatio=1.78&format=jpeg"
      class="mr-3" alt="..." width="105px">
    <div class="media-body">
      <h5 class="mt-0">HellBoy II</h5>
      Hellboy, sua namorada Liz e Abe Sapien enfrentam uma grande batalha quando um príncipe do submundo tenta recuperar
      a Terra. Cansado de viver à sombra dos seres humanos, o Príncipe Nuada tenta despertar um exército de máquinas
      assassinas para libertar as criaturas de fantasia na Terra. Apenas Hellboy pode deter o príncipe sombrio e impedir
      a aniquilação da humanidade.

      <div class="media mt-3">
        <a class="mr-3" href="#">
          <img src="https://miro.medium.com/v2/resize:fit:654/1*TxXwGNU6EBpsrLBn8mnOVw.jpeg" class="mr-3" alt="..."
            width="105px">
        </a>
        <div class="media-body">
          <h5 class="mt-0">A Forma da Água</h5>
          Década de 60. Em meio aos grandes conflitos políticos e transformações sociais dos Estados Unidos da Guerra
          Fria, a muda Elisa, zeladora em um laboratório experimental secreto do governo, se encanta com uma criatura
          fantástica mantida presa e maltratada no local. Para executar um arriscado e apaixonado resgate, ela recorre
          ao melhor amigo Giles e à colega de turno Zelda, em uma aventura que pode custar muito mais do que o seu
          emprego.
        </div>
      </div>
    </div>
  </div>
  <div class="media mt-5">
    <img
      src="https://media.fstatic.com/W5HyObR2es4luquhQK6uukfMTdc=/210x312/smart/filters:format(webp)/media/movies/covers/2013/07/circulo-de-fogo_t34767_3.jpg"
      class="mr-3" alt="..." width="105px">
    <div class="media-body">
      <h5 class="mt-0">Círculo de Fogo</h5>
      Criaturas monstruosas conhecidas como Kaiju começam a emergir do mar. Para combatê-los, a humanidade desenvolve
      uma série de robôs gigantescos, os Jaegers. Cada um é controlado por duas pessoas por meio de uma conexão neural.
      Entretanto, mesmo os Jaegers se mostram insuficientes para derrotar os Kaiju. Diante deste cenário, a última
      esperança é um velho robô, que passa a ser comandado por um antigo piloto e uma pessoa em treinamento.

      <div class="media mt-3">
        <a class="mr-3" href="#">
          <img
            src="https://m.media-amazon.com/images/M/MV5BNTc1ZWY0ZTEtZTVmNi00MTg0LTg4NmQtZTI4OWNiMmQ0MWZkXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_.jpg"
            class="mr-3" alt="..." width="105px">
        </a>
        <div class="media-body">
          <h5 class="mt-0">HellBoy</h5>
          Perto do fim da Segunda Guerra Mundial, os nazistas se mostram dispostos a lançar mão de magia negra para
          derrotar seus inimigos. Um ritual para evocar essas forças ocultas é interrompido pelos aliados, que encontram
          um garoto com aparência de demônio e mão de pedra. Esse jovem passa a ser chamado de Hellboy e é levado pelas
          forças aliadas. Sessenta anos depois, Hellboy está pronto para lutar e defender o bem.
        </div>
      </div>
    </div>
  </div>
  <div class="media mt-5">
    <img src="https://br.web.img3.acsta.net/medias/nmedia/18/89/67/23/20061404.jpg" class="mr-3" alt="..."
      width="105px">
    <div class="media-body">
      <h5 class="mt-0">Gato de Botas</h5>
      Antes de conhecer Shrek e sua turma, Gato de Botas vive uma grande aventura ao lado de Humpty Dumpty e Kitty Pata
      Mansa. Dispostos a roubar os feijões mágicos do casal fora da lei Jack e Jill, o trio quer mesmo é conseguir a
      famosa gansa que bota ovos de ouro. Porém, algumas coisas não estavam nos planos, e Gato vai descobrir, meio
      atrasado, que tem um grande problema pela frente para conseguir limpar o que ficou para trás: a sua honra.

      <div class="media mt-3">
        <a class="mr-3" href="#">
          <img src="https://images.justwatch.com/poster/301693445/s718/a-origem-dos-guardioes.%7Bformat%7D" class="mr-3"
            alt="..." width="105px">
        </a>
        <div class="media-body">
          <h5 class="mt-0">A Origem dos Guardiões</h5>
          Jack Frost, um garoto que controla o inverno, se junta ao seleto time dos Guardiões Imortais para impedir
          Breu, o bicho-papão, de transformar todos os sonhos das crianças em pesadelo e usar seus poderes maquiavélicos
          para governar o mundo.
        </div>
      </div>
    </div>
  </div>
</div>